/ab_admin/logDB/log.txt
/teacher/logDB/log.txt
/academy/common/connection_datas.php
/academy/send_sms/configuration.php
/send_sms/configuration.php
/academy/common/assets/fontawesome/*
/academy/common/assets/fontawesome_v5/*
/academy/material_docs/*
/academy/material_test_solve/*
/academy/material_tests/*
/img/test/*
/academy/slide_effect/*